#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define MAC 0
#define MAC_CODE 1
#define MAC_NUMBER 2
#define MAC_FUNCTION 3
#define WINDOWS 4
#define WINDOWS_CODE 5
#define WINDOWS_NUMBER 6
#define WINDOWS_FUNCTION 7

// Behavior Overrides

/ {
    macros {
        // Emoji
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&none  &kp Q           &kp W           &kp E        &kp R             &kp T      &kp Y        &kp U              &kp I            &kp O              &kp P                &none
&none  &kp A           &kp S           &kp D        &kp F             &kp G      &kp H        &kp J              &kp K            &kp L              &kp BSPC             &none
&none  &mt Z LEFT_GUI  &mt X LEFT_ALT  &mt C LCTRL  &mt V LEFT_SHIFT  &kp B      &kp N        &mt M RIGHT_SHIFT  &mt COMMA RCTRL  &mt DOT RIGHT_ALT  &mt SLASH RIGHT_GUI  &none
                                                    &lt 1 SPACE       &lt 4 TAB  &lt 2 ENTER  &lt 3 BACKSPACE
            >;
        };

        navigation {
            bindings = <
&trans  &trans  &trans  &trans  &trans          &trans           &kp CARET       &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&trans  &trans  &trans  &trans  &trans          &trans           &kp LEFT_ARROW  &kp DOWN        &kp UP           &kp RIGHT_ARROW       &kp DOLLAR             &trans
&trans  &trans  &trans  &trans  &kp LEFT_SHIFT  &kp PRINTSCREEN  &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP      &kp END               &kp INS                &trans
                                &trans          &trans           &trans          &trans
            >;
        };

        symbols {
            bindings = <
&trans  &kp EXCL   &kp AT  &kp HASH  &kp DLLR  &kp PRCNT  &kp CARET  &kp AMPS  &kp ASTERISK  &kp CAPS  &kp BSPC   &trans
&trans  &kp N1     &kp N2  &kp N3    &kp N4    &kp N5     &kp N6     &kp N7    &kp N8        &kp N9    &kp N0     &trans
&trans  &kp LSHFT  &none   &none     &none     &mo 3      &none      &none     &kp COMMA     &kp DOT   &kp RSHFT  &trans
                                     &trans    &trans     &trans     &trans
            >;
        };

        numbers {
            bindings = <
&trans  &kp EQUAL     &kp N7        &kp N8        &kp N9        &kp NUMBER_0  &kp UNDERSCORE  &kp F9              &kp F10  &kp F11  &kp F12  &trans
&trans  &kp ASTERISK  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp PLUS      &kp COMMA       &kp F5              &kp F6   &kp F7   &kp F8   &trans
&trans  &kp SLASH     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp MINUS     &kp PERIOD      &mt RIGHT_SHIFT F1  &kp F2   &kp F3   &kp F4   &trans
                                                  &trans        &trans        &trans          &trans
            >;
        };

        media {
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp CAPS   &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K      &kp L    &kp BSPC  &kp ENTER
&kp LSHFT  &none  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA  &kp DOT  &none     &kp RSHFT
                                &none  &none  &none  &none
            >;
        };
    };
};
